body {
  font-family: 'Cinzel', serif;
  color: #333;
  background-color: $mainBack;
  display: table;
  overflow-x: hidden;
  position: relative
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  padding: 0px 6px;
  text-decoration: none;
}

li ul{
  list-style: none;
}
