body {
  font-family: 'Cinzel', serif;
  color: #333;
  background-color: $mainBack;
  position: relative;
}

img {
   max-width: 80%;
   text-align: center;
  /*height: auto; */
}

* {
  box-sizing: border-box;
}

a {
  color: black;
   padding: 0px 6px;
  text-decoration: none;
}

li ul{
  list-style: none;
}


.title-text {
font-size: 4rem;
}

.subtitle-text {
font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.top-space {
  padding-top: 4rem;
}

.line-space {
  padding-top: 2rem;
}

.mid-space {
  @mixin atMedium {
    padding-top: 4rem;
  }
}

.bottom-space {
      padding-top: 6rem;
      margin-bottom: .5rem;
  @mixin atMedium {
    padding-top: 5rem;
  }
}

.centered-text {
  text-align: center;
}

.centered-margin {
  margin:auto;
}

/* Video Sizing */

vid-size {
  width:560;
  height:315;
}

/* Nav Brand Sizing */

.nav-logo {
  width: 100%;
  height: auto;

  @mixin atSmall {
  width: 205%;
  height: auto;
}

@mixin atMedium {
  width: 150%;
  height: auto;
}

@mixin atLarge {
  width: 100%;
  height: auto;
}

}

.nav-brand-width {
  width: 200%;

  @mixin atMedium {
  width: 50%;
  }
}
