.article {
  position: fixed;
  z-index: 5;
  background-color: rgba(#FFF, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__story {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.65;
    opacity: 0;
    visibility: hidden;
    display: none;

    &__image {
    top: 1%;
    right: 5%;
    max-width: 75%;
    display: none;
    position: absolute;
    left: -999999px;
    transition: all .500s ease-out;

      &--visible {
        display:block;
        position: relative;
        left: 0;
      }
    }

    &__one {
      font-size: 2rem;
      display: none;
      position: absolute;
      left: -999999px;

        &--visible {
          display:block;
          position: relative;
          left: 0;
        }
    }

    &__two {
      font-size: 2rem;
      display: none;
      position: absolute;
      left: -999999px;

        &--visible {
          display:block;
          position: relative;
          left: 0;
        }
    }

    &__three {
      font-size: 2rem;
      display: none;
      position: absolute;
      left: -999999px;

        &--visible {
            display:block;
            position: relative;
            left: 0;
        }
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBack;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}
