.artical {
  position: fixed;
  z-index: 5;
  background-color: rgba(#FFF, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  img {
  transition: all .500s ease-out;
  margin-top: 1rem;
  }

  &__story {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75;
    opacity: 0;
    visibility: hidden;
    display: none;

    &--visible {
      display:block;
      position: absolute;
      left: 0;
    }

    &__one {
      display: none;
      position: relative;
      left: -999999px;

        &--visible {
          display:block;
          position: relative;
          left: 0;
        }

        @mixin atSmall {
          font-size: 2rem;
        }

        @mixin atMedium {
          font-size: 2.5rem;
        }

    }

    &__two {
      display: none;
      position: absolute;
      left: -999999px;

        &--visible {
          display:block;
          position: relative;
          left: 0;
        }

        @mixin atSmall {
          font-size: 2rem;
        }

        @mixin atMedium {
          font-size: 2.5rem;
        }
    }

    &__three {
      display: none;
      position: absolute;
      left: -999999px;

        &--visible {
            display:block;
            position: relative;
            left: 0;
        }

        @mixin atSmall {
          font-size: 2rem;
        }

        @mixin atMedium {
          font-size: 2.5rem;
        }
    }

    &__four {
      font-size: 2rem;
      display: none;
      position: absolute;
      left: -999999px;

        &--visible {
            display:block;
            position: relative;
            left: 0;
        }

        @mixin atSmall {
          a{
          font-size: 2rem;
          }
        }

        @mixin atMedium {
          font-size: 2.5rem;
        }
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBack;
    cursor: pointer;


    &:hover {
      color: red;
    }
  }
}
