.backsplash {
  position: relative;
  margin: .0125rem;
  padding:1rem;
  background-color: rgba($frameColor, 0.125);
  border-radius: 1.5rem;

  @mixin atSmall {
  width: 20.5rem;
  }

  @mixin atMedium {
  height: 14rem;
  width: 21rem;
  }
}
