.backsplash {
  position: relative;
  margin: .125rem auto .125rem auto;
  padding:1rem;
  background-color: rgba($frameColor, 0.125);
  border-radius: 1.5rem;
  max-width: 17rem;

  @mixin atMedium {
  max-height: 15rem;
  max-width: 19rem;
  }
}
