.backsplash {
  position: relative;
  margin: .125rem auto .125rem auto;
  padding:1rem;
  background-color: rgba($frameColor, 0.125);
  border-radius: 1.5rem;
  width: 20.5rem;

  @mixin atMedium {
  height: 14rem;
  width: 21.5rem;
  }
}
