.btn {
  background-color: $mainTan;
  color: #mainBlue;
  text-decoration: none;
  padding: .5rem .8rem;
  display: inline-block;

  &--orange {
    background-color: $mainTan;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}
