.headline {
    background-color: $mainTan;
    position: relative;
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 3.5rem;
    color: $fontMain;


  &__image {
    display: block;
  }


  &__main {
    opacity: 1;
    visibility: visible;
    padding-top: 88px;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .40s ease-out;
    left: 0;
    width: 100%;

    @mixin atMedium {

      &--is-hidden  {
        opacity: 0;
        visibility: hidden;
      }
      font-size: 2.5rem;
      padding-top: 60px;
    }
  }

  &__title {
    font-size: 1.5rem;
    padding-top: auto;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    padding-top: auto;
    padding-bottom: 3rem;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 4rem;
    }
  }

  &__contact {
    position: fixed;
    margin-top: -6rem;
    font-size: .75rem;
    float: left;
    padding: 1.5rem .8rem;
    z-index: 15;

    @mixin atMedium {
      font-size: 1.2rem;
      padding: .8rem 1.5rem;
    }
  }
}
