.headline {
    background-color: $mainTan;
    position: relative;
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 3.5rem;
    color: $fontMain;


  &__image {
    display: block;
  }

  &__main {
    opacity: 1;
    visibility: visible;
    padding-top: 88px;
    padding-bottom: 188px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .40s ease-out;
    left: 0;
    width: 100%;

    @mixin atMedium {
      padding-top: 60px;
    }

    &--is-hidden  {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__title {
    font-size: 4rem;
    margin: 0;
  }

  &__subtitle {
    font-size: 4rem;
    margin: 0;
  }

  &__contact {
    position: fixed;
    margin-top: -3.8rem;
    font-size: .75rem;
    float: left;
    padding: 1.5rem .8rem;

    @mixin atMedium {
      font-size: 1.2rem;
      padding: .8rem 1.5rem;
    }
  }
}
