.jacobdsiler {

  &__background {
    width: 22rem;
    height: 14rem;
  }

  &__image {
  display: block;
  position: relative;
  margin-top: 0;
  background-color: $mainTan;
  transition: all .3s ease-out;

    &--feature {
      margin: 0 auto 0 auto;
      max-height: 18rem;
      max-width: 18rem;
      background: $mainTan;
      border-radius: 20px;
      border-color: $frameColor;
      border-style: none;
        &:hover {
          transform:scale(1.1);
        }

      @mixin atMedium {
      max-height: 12rem;
      max-width: 20rem;
      }
    }
  }

  &__text-content {
      color: $fontMain;
      @mixin clearfix;
  }
}
