.navbar {
  margin: 3rem 0;
  min-height:100px;
  font-family: 'Cinzel', serif;
  color: #333;

  li {
    text-align: center;
  }
}

.navbar-brand {
  @mixin atMedium {
    font-size: 5rem;
  }
  font-size: 12vw;
  /* &::after {
    content: '\A';
  } */
}
