.site-header {
  background-color: $mainBack;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 9rem;
  z-index: 2;

  &__text {
    position: absolute;
    top: -.5rem;
    left: 16%;
    display: inline;
    text-align: left;
    font-weight: 100;
    font-size: 3rem;
    padding: 3rem 5rem;

    &--nav {
      position: relative;
      font-size: 1rem;
      margin-left: 6rem;
      a {

      }
    }

  }
}
