.site-header {
  position: absolute;
  background-color: $mainBack;
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;

  &__text {
    display: inline-block;
    text-align: center;
    font-weight: 100;
    font-size: 11vw;
    margin: 3rem 0 18rem 0;

    @mixin atSmall{
    text-align: left;
    font-size: 3.4vw;
    margin: 3rem 0 2rem 0;

    &--closed
    {
      visibility: hidden;
      display: none;
      transform: translate(1000rem,-2.5rem);
    }

    }

    @mixin atMedium {
      margin-right: 0;
    }

  }
}
