.site-header {
  position: absolute;
  background-color: $mainBack;
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;

  &__text {
    display: inline-block;
    text-align: center;
    font-weight: 100;
    font-size: 9vw;
    margin: 3rem auto 14rem auto;

    @mixin atSmall{
    text-align: left;
    font-size: 3.4vw;
    margin: 3rem 5vw 2rem 0;
    }

    @mixin atMedium {
      margin-left: 0;
    }

  }
}
