.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;

  &__splashscreen {
    padding: 0;

  }

  &__artical
  {
    top: 3rem;
    height: 100%;
    width: 75%;
    padding: 5px;
    padding-bottom: -5rem;
    background-color: #fef8f4;
    border: 5px solid #fef1e9;
    border-radius: 30px;
  }

  &--header
  {
    height: 100%;
    width: auto;
    padding: 5px;
  }



  &--center {
    margin: 0 auto;
  }

}
